<app-breadcrumb
  [title]="'Profile'"
  [items]="['Teachers']"
  [active_item]="'Profile'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="user-profile">
    <div class="row">
      <!-- user profile first-style start-->
      <div class="col-sm-12">
        <div class="card hovercard text-center">
          <div class="cardheader"></div>
          <div class="user-image">
            <div class="avatar">
              <img alt="" [src]="'assets/images/user/1.jpg'" />
            </div>
            <div class="icon-wrapper">
              <i class="icofont icofont-pencil-alt-5"
                ><input class="upload" type="file"
              /></i>
            </div>
          </div>
          <div class="info">
            <div class="row">
              <div class="col-sm-6 col-lg-4 order-sm-1 order-xl-0">
                <div class="row">
                  <div class="col-md-6">
                    <div class="ttl-info text-left">
                      <h6><i class="fa fa-envelope"></i>   Email</h6>
                      <span>Marekjecno@yahoo.com</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="ttl-info text-left">
                      <h6><i class="fa fa-calendar"></i>   BOD</h6>
                      <span>02 January 1988</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-4 order-sm-0 order-xl-1">
                <div class="user-designation">
                  <div class="title">
                    <a target="_blank" href="">Mark jecno</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 order-sm-2 order-xl-2">
                <div class="row">
                  <div class="col-md-6">
                    <div class="ttl-info text-left">
                      <h6><i class="fa fa-phone"></i>   Contact Us</h6>
                      <span>+92 123-456-7890</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="ttl-info text-left">
                      <h6><i class="fa fa-location-arrow"></i>   Location</h6>
                      <span>Karachi</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="social-media">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="javascript:void(0)"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0)"
                    ><i class="fa fa-google-plus"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0)"
                    ><i class="fa fa-instagram"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0)"><i class="fa fa-rss"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-3">
        <div class="card">
          <div class="card-header">
            <h5>About Me</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="ttl-info text-left">
                  <h6>Gender</h6>
                  <span>Male</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ttl-info text-left">
                  <h6>Designation</h6>
                  <span>Jr. Professor</span>
                </div>
              </div>
              <div class="col-md-6 mt-3">
                <div class="ttl-info text-left">
                  <h6>Degree</h6>
                  <span>B.A</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-3">
        <div class="card">
          <div class="card-header">
            <h5>Experience</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="ttl-info text-left">
                  <ul>
                    <li>
                      <h6>One year experience as Jr. Professor from April-2009 to march-2010 at B. J. Arts College, Karachi.</h6>
                    </li>
                    <li>
                      <h6>One year experience as Jr. Professor from April-2009 to march-2010 at B. J. Arts College, Karachi.</h6>
                    </li>
                    <li>
                      <h6>One year experience as Jr. Professor from April-2009 to march-2010 at B. J. Arts College, Karachi.</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Work Expertise</h5>
          </div>
          <div class="card-body">
            <p>Java</p>
            <p>
              <ngb-progressbar showValue="true" type="primary" [value]="80"></ngb-progressbar>
            </p>
            <p>Php</p>
            <p>
              <ngb-progressbar showValue="true" type="primary" [value]="70"></ngb-progressbar>
            </p>
            <p>Android</p>
            <p>
              <ngb-progressbar showValue="true" type="primary" [value]="100"></ngb-progressbar>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
