.margin1{
    margin-top: 1px;
}
#basic-bar{
    background-color: #FEF5ED !important;
}
.static-top-widget {
    .media-body{
        padding-left: 0;
    }
}
.ng-select {
    margin-bottom: 2rem;
    max-width: 250px;
    width: 250px;
}