<app-breadcrumb [title]="'Salary'" [items]="['Teachers']" [active_item]="'Salary'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 d-flex align-items-baseline justify-content-between">
      <input
        class="form-control width85"
        placeholder="Search by student Id"
        type="text"
      />
      <button class="btn btn-primary">Search</button>
    </div>
    <div class="col-sm-12 mt-3">
      <div class="row">
        <div class="col-sm-3">
          <label>Name: <span>Ahmed Ali</span></label>
        </div>
        <div class="col-sm-3">
          <label>Grade: <span>IX</span></label>
        </div>
        <div class="col-sm-3">
          <label>City: <span>Karachi</span></label>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mt-3">
      <div class="row">
        <div class="col-sm-12">
          <h6>Filter</h6>
        </div>
        <div class="col-sm-5">
          <input type="text" placeholder="Date From" class="form-control">
        </div>
        <div class="col-sm-5">
          <input type="text" placeholder="Date To" class="form-control">
        </div>
        <div class="col-sm-2">
          <button class="btn btn-primary">Filter</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mt-3">
      <div class="card">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Salary Month</th>
                <th scope="col">Due Date</th>
                <th scope="col">Salary Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>12/12/1999</td>
                <td>12/12/1999</td>
                <td>Paid</td>
              </tr>
              <tr>
                <td>12/12/1999</td>
                <td>12/12/1999</td>
                <td>Due</td>
              </tr>
              <tr>
                <td>12/12/1999</td>
                <td>12/12/1999</td>
                <td>Paid</td>
              </tr>
              <tr>
                <td>12/12/1999</td>
                <td>12/12/1999</td>
                <td>Paid</td>
              </tr>
              <tr>
                <td>12/12/1999</td>
                <td>12/12/1999</td>
                <td>Due</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>