.margin1{
    margin-top: 1px;
}
#basic-bar{
    background-color: #FEF5ED !important;
}
.static-top-widget {
    .media-body{
        padding-left: 0;
    }
}
.minHeight{
    min-height: 400px;
}
.descriptionCol{
    white-space: nowrap;
}