<app-breadcrumb
  [title]="'Expenses'"
  [active_item]="'Expenses'"
></app-breadcrumb>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body default-accordion">
          <ngb-accordion
            #acc="ngbAccordion"
            [closeOthers]="true"
            activeIds="static-1"
          >
            <ngb-panel title="Expenses" id="static-1">
              <ng-template ngbPanelContent>
                <div class="card o-hidden cstmCard">
                  <div class="bg-primary b-r-4 card-body">
                    <div class="media static-top-widget flex-column">
                      <div class="media-body w-100">
                        <div class="row mt-3 mb-3">
                          <div class="col-sm-6">
                            <span class="m-0">Yearly</span>
                          </div>
                          <div class="col-sm-6">
                            
                            <span class="mb-0 counter">{{
                              yearlyExpenses == null ? (0 | currency:'USD') : yearlyExpenses | currency:'USD'
                            }}</span>
                          </div>
                        </div>
                        <div class="row mt-3 mb-3">
                          <div class="col-sm-6">
                            <span class="m-0">Quaterly</span>
                          </div>
                          <div class="col-sm-6">
                            
                            <span class="mb-0 counter">{{
                              quarterlyExpenses == null ? (0 | currency:'USD') : quarterlyExpenses | currency:'USD'
                            }}</span>
                          </div>
                        </div>
                        <div class="row mt-3 mb-3">
                          <div class="col-sm-6">
                            <span class="m-0">Monthly</span>
                          </div>
                          <div class="col-sm-6">
                            
                            <span class="mb-0 counter">{{
                              currentMonthExpenses == null
                                ? (0 | currency:'USD')
                                : currentMonthExpenses | currency:'USD'
                            }}</span>
                          </div>
                        </div>
                        <i class="icon-bg" data-feather="dollar-sign"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            <!-- <ngb-panel title="Biggest Expense Heads" id="static-2">
              <ng-template ngbPanelContent>
                <div class="card o-hidden cstmCard">
                  <div class="bg-primary b-r-4 card-body minHeight">
                    <div class="media static-top-widget">
                      <div class="media-body">
                        <i class="icon-bg" data-feather="dollar-sign"></i>
                        <div class="mt-3">
                          <google-chart [data]="pieChart3"></google-chart>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel> -->
            <ngb-panel title="Top 10 Transactions" id="static-7">
              <ng-template ngbPanelContent>
                <div class="col-sm-12">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Date</th>
                          <th scope="col">Name</th>
                          <th scope="col">Memo/Description</th>
                          <th scope="col">Account</th>
                          <th scope="col">Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let top10Transaction of top10Transactions
                              | paginate
                                : {
                                    itemsPerPage: 10,
                                    currentPage: top10TransactionPage,
                                    totalItems: total
                                  };let i = index
                          "
                        >
                          <th scope="row">{{ i }}</th>
                          <td>
                            <label>{{ top10Transaction[0]?.value ? (top10Transaction[0]?.value | date: 'dd/MM/yyyy') : "N/A" }}</label>
                          </td>
                          <td><label ngbTooltip={{top10Transaction[4]?.value}}>{{ top10Transaction[4]?.value ? top10Transaction[4]?.value : "N/A" }}</label></td>
                          <td><label ngbTooltip={{top10Transaction[6]?.value}}>{{ top10Transaction[6]?.value ? top10Transaction[6]?.value : "N/A" }}</label></td>
                          <td><label>{{ top10Transaction[7]?.value ? top10Transaction[7]?.value : "N/A" }}</label></td>
                          <td><label>{{ top10Transaction[9]?.value ? (formatMinus(top10Transaction[9]?.value) | currency : "USD") : (0 | currency: "USD") }}</label></td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls
                      (pageChange)="top10TransactionPage = $event"
                    ></pagination-controls>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Recent Transactions" id="static-6">
              <ng-template ngbPanelContent>
                <div class="col-sm-12">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Date</th>
                          <th scope="col">Name</th>
                          <th scope="col">Memo/Description</th>
                          <th scope="col">Account</th>
                          <th scope="col">Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let recentTransaction of recentTransactions
                              | paginate
                                : {
                                    itemsPerPage: 10,
                                    currentPage: recentPage,
                                    totalItems: total
                                  };let i = index
                          "
                        >
                          <th scope="row">{{ i }}</th>
                          <td>
                            <label>{{ recentTransaction[0]?.value ? (recentTransaction[0]?.value | date: 'dd/MM/yyyy') : "N/A" }}</label>
                          </td>
                          <td><label class="descriptionCol" ngbTooltip={{recentTransaction[4]?.value}}>{{ recentTransaction[4]?.value ? recentTransaction[4]?.value : "N/A" }}</label></td>
                          <td><label class="descriptionCol" ngbTooltip={{recentTransaction[6]?.value}}>{{ recentTransaction[6]?.value ? recentTransaction[6]?.value : "N/A" }}</label></td>
                          <td><label>{{ recentTransaction[7]?.value ? recentTransaction[7]?.value : "N/A" }}</label></td>
                          <td><label>{{ recentTransaction[9]?.value ? (formatMinus(recentTransaction[9]?.value) | currency : "USD") : (0 | currency: "USD") }}</label></td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls
                      (pageChange)="recentPage = $event"
                    ></pagination-controls>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
