<app-breadcrumb [title]="'Documents'" [active_item]="'Documents'"></app-breadcrumb>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="file-content">
        <div class="card">
          <div class="card-header dateHeader">
            <h4 class="mb-3 mt-3">All Files</h4>
            <form class="custom-datepicker custom-datepicker-dropdown">
              <label class="dateLabel">From</label>
              <div class="form-group mb-0">
                <div class="input-group">
                  <input class="form-control zIndex0" readonly="true" placeholder="YYYY-MM-DD" [(ngModel)]="startDate"
                    ngbDatepicker #f="ngbDatepicker">
                  <div class="input-group-append position-relative">
                    <button class="calendarbtn" (click)="f.toggle()" type="button"><i
                        class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
              <label class="dateLabel">To</label>
              <div class="form-group mb-0">
                <div class="input-group">
                  <input class="form-control zIndex0" readonly="true" [value]="currentDate" placeholder="YYYY-MM-DD"
                    [(ngModel)]="endDate" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append position-relative">
                    <button class="calendarbtn" (click)="d.toggle()" type="button"><i
                        class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary" (click)="searchDate()"
                [disabled]="startDate == null || endDate == null">Search</button>
            </form>
          </div>
          <div class="card-body file-manager">
            <div class="card-header dateHeader">
              <div class="row w-100">
                <div class="col-sm-4 d-flex justify-content-start">
                  <ng-select [(ngModel)]="selectSortDropDown" placeholder="Sort by ..." (change)="selectSort()">
                    <ng-option *ngFor="let time of sortDate" [value]="time.value">{{time.value}}</ng-option>
                  </ng-select>
                </div>
                <div class="col-sm-4  d-flex justify-content-center align-items-center">
                  <button *ngIf="Reset" class="btn btn-primary" (click)="getImages()">View all</button>
                </div>
                <div class="col-sm-4 d-flex justify-content-end align-items-center">
                  <ng-select [(ngModel)]="selectedName" placeholder="Search by name....">
                    <ng-option *ngFor="let time of fileNames" [value]="time">{{time}}</ng-option>
                  </ng-select>
                  <button type="button" class="btn btn-primary" (click)="searchByName()">Search</button>
                </div>
              </div>
            </div>
            <div class="row files">
              <div class="col-sm-3 mt-3 mb-3" *ngFor="let item of filesData;">
                <a class="file-box w-100 h-100"  href="{{item?.file_url}}" target="_blank">
                  <div class="file-top"> <i class="fa txt-primary"
                      [ngClass]="(item?.extension == 'png' || item?.extension == 'jpg' || item?.extension == 'jpeg' || item?.extension == 'svg') ? 'fa-file-image-o' : 'fa-file-text-o'"></i></div>
                  <div class="file-bottom">
                    <h6 class="filename" placement="bottom" ngbTooltip="{{item?.original_filename}}">{{item?.original_filename}}</h6>
                  </div>
                  <div class="dateLabelFile">
                    <label>{{item?.created_at | date:'fullDate'}}</label>
                  </div>
                </a>
              </div>
              <div class="col-sm-12" *ngIf="filesData.length < 1">
                <p class="text-center mt-5 mb-3" style="font-size: 20px; color:#000;">No Data Found</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Upload documents</h5>
      </div>
      <div class="modal-body d-flex justify-content-around align-items-center">
        <label for="upfile" class="fileUp">
          <i class="fa fa-upload fa-3x"></i>
        </label>
        <div style="height: 0px;width: 0px; overflow:hidden;">
          <input id="upfile" type="file" value="upload" (change)="onFileSelected($event)">
        </div>
        <form class="theme-form" [formGroup]="commentForm">
          <div class="form-group">
            <label class="col-form-label">Comment</label>
            <input class="form-control" type="text" required="" placeholder="Comment..." formControlName="comment">
            <div *ngIf="commentForm.controls.comment.touched && commentForm.controls.email.errors?.required"
              class="text text-danger mt-1">
              Comments is required
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </div>
</div> -->