.fileUp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 5px solid #000;
    border-radius: 100px;
}

.file-content .files .file-box {
    width: unset;
}

.row.files {
    justify-content: space-around;
}

.calendarbtn {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    top: 50%;
    transform: translateY(-50%);

    i {
        padding: 0;
    }
}

.file-content .form-inline i {
    line-height: 0;
}

.dateHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.custom-datepicker {
    display: flex;
    align-items: center;
}

.dateLabel {
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px;
}

.btn.btn-primary {
    margin-left: 10px;
}