<app-breadcrumb
  [title]="'Accounts Payable'"
  [active_item]="'Accounts Payable'"
></app-breadcrumb>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body default-accordion">
          <ngb-accordion
            #acc="ngbAccordion"
            [closeOthers]="true"
            activeIds="static-1"
          >
            <ngb-panel title="Payments" id="static-1">
              <ng-template ngbPanelContent>
                <div class="card o-hidden cstmCard">
                  <div class="bg-primary b-r-4 card-body">
                    <div class="media static-top-widget flex-column">
                      <div class="media-body w-100">
                        <div class="row mt-3 mb-3">
                          <div class="col-sm-6">
                            <span class="m-0">Yearly</span>
                          </div>
                          <div class="col-sm-6">
                            
                            <span class="mb-0 counter">{{
                              YTD ? (YTD | currency:'USD') : 0 | currency:'USD'
                            }}</span>
                          </div>
                        </div>
                        <div class="row mt-3 mb-3">
                          <div class="col-sm-6">
                            <span class="m-0">Quaterly</span>
                          </div>
                          <div class="col-sm-6">
                            
                            <span class="mb-0 counter">{{
                              QTD ? (QTD | currency:'USD') : 0 | currency:'USD'
                            }}</span>
                          </div>
                        </div>
                        <div class="row mt-3 mb-3">
                          <div class="col-sm-6">
                            <span class="m-0">Monthly</span>
                          </div>
                          <div class="col-sm-6">
                            
                            <span class="mb-0 counter">{{
                              MTD
                                ? (MTD | currency:'USD')
                                : 0 | currency:'USD'
                            }}</span>
                          </div>
                        </div>
                        <i class="icon-bg" data-feather="dollar-sign"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            
            <!-- <ngb-panel title="Dues" id="static-2">
              <ng-template ngbPanelContent>
                <div class="col-sm-12 d-flex justify-content-end">
                  <ng-select [(ngModel)]="timeSelected" placeholder="Select" (change)="selectTime()">
                    <ng-option *ngFor="let time of times" [value]="time.value">{{time.value}}</ng-option>
                 </ng-select>
                </div>
                <div class="col-sm-12">
                  <div class="card o-hidden cstmCard">
                    <div class="bg-primary b-r-4 card-body">
                      <div class="media static-top-widget">
                        <div class="media-body">
                          <span class="d-flex align-items-center">
                            <span class="mb-0 counter">{{profitAndLoss + expensesBar | currency:'USD'}}</span>
                          </span>
                          <i class="icon-bg" data-feather="dollar-sign"></i>
                          <div id="basic-bar" class="mt-3">
                            <apx-chart #chart [series]="bar.series" [chart]="bar.chart" [dataLabels]="bar.dataLabels"
                              [plotOptions]="bar.plotOptions" [xaxis]="bar.xaxis" [colors]="bar.colors"></apx-chart>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel> -->

            <ngb-panel title="Payments Summary" id="static-4">
              <ng-template ngbPanelContent>
                <div class="col-sm-12">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Date</th>
                          <th scope="col">Name</th>
                          <th scope="col">Memo/Description</th>
                          <th scope="col">Account</th>
                          <th scope="col">Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let due of dueData
                              | paginate
                                : {
                                    itemsPerPage: 20,
                                    currentPage: duePage,
                                    totalItems: total
                                  };let i = index
                          "
                        >
                          <th scope="row">{{ i }}</th>
                          <td>
                            <label>{{ due?.ColData[0]?.value ? (due?.ColData[0]?.value | date: 'dd/MM/yyyy') : "N/A" }}</label>
                          </td>
                          <td><label class="descriptionCol" ngbTooltip={{due?.ColData[4]?.value}}>{{ due?.ColData[4]?.value ? due?.ColData[4]?.value : "N/A" }}</label></td>
                          <td><label class="descriptionCol" ngbTooltip={{due?.ColData[6]?.value}}>{{ due?.ColData[6]?.value ? due?.ColData[6]?.value : "N/A" }}</label></td>
                          <td><label>{{ due?.ColData[7]?.value ? due?.ColData[7]?.value : "N/A" }}</label></td>
                          <td><label>{{ due?.ColData[9]?.value ? (formatMinus(due?.ColData[9]?.value) | currency : "USD") : (0 | currency: "USD") }}</label></td>
                        </tr>
                        <tr *ngIf="dueData?.length < 1">
                          <label>No Data</label>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls
                    *ngIf="dueData?.length > 0"
                    (pageChange)="duePage = $event"
                    ></pagination-controls>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            <!-- <ngb-panel title="AP Aging" id="static-3">
              <ng-template ngbPanelContent>
                <div class="col-sm-12">
                  <div class="card o-hidden cstmCard">
                    <div class="bg-primary b-r-4 card-body">
                      <div class="media static-top-widget">
                        <div class="media-body">
                          <span class="d-flex align-items-center">
                           <span class="mb-0 counter">{{profitAndLoss + expensesBar | currency:'USD'}}</span>
                          </span>
                          <i class="icon-bg" data-feather="dollar-sign"></i>
                          <div id="basic-bar" class="mt-3">
                            <apx-chart #Verticalchart [series]="verticalBar.series" [chart]="verticalBar.chart" [dataLabels]="verticalBar.dataLabels"
                              [plotOptions]="verticalBar.plotOptions" [xaxis]="verticalBar.xaxis" [colors]="verticalBar.colors"></apx-chart>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Bill Due Summary" id="static-4">
              <ng-template ngbPanelContent>
                <div class="col-sm-12">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Customer</th>
                          <th scope="col">Bill Total</th>
                          <th scope="col">Balance</th>
                          <th scope="col">Bill Date</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let due of dueData
                              | paginate
                                : {
                                    itemsPerPage: 5,
                                    currentPage: duePage,
                                    totalItems: total
                                  }
                          "
                        >
                          <th scope="row">{{ due.id }}</th>
                          <td>
                            {{ due.Customer ? due.Customer : "N/A" }}
                          </td>
                          <td>{{ due.TotalAmt ? (due.TotalAmt | currency: "USD") : "N/A" }}</td>
                          <td>{{ due.Amount ? (due.Amount | currency: "USD") : "N/A" }}</td>
                          <td>{{ due.Date ? due.Date : "N/A" }}</td>
                          <td>{{ due.pastDue ? ("Overdue " + due.pastDue + " days") : "N/A" }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls
                      (pageChange)="duePage = $event"
                    ></pagination-controls>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Bill paid summary" id="static-5">
              <ng-template ngbPanelContent>
                <div class="col-sm-12">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Customer</th>
                          <th scope="col">Bill Total</th>
                          <th scope="col">Bill Date</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let paid of paidData
                              | paginate
                                : {
                                    itemsPerPage: 5,
                                    currentPage: paidPage,
                                    totalItems: total
                                  }
                          "
                        >
                          <th scope="row">{{ paid.id }}</th>
                          <td>
                            {{ paid.Customer ? paid.Customer : "N/A" }}
                          </td>
                          <td>{{ paid.TotalAmt ? (paid.TotalAmt | currency: "USD") : "N/A" }}</td>
                          <td>{{ paid.Date ? paid.Date : "N/A" }}</td>
                          <td>Paid</td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls
                      (pageChange)="paidPage = $event"
                    ></pagination-controls>
                  </div>
                </div>
              </ng-template>
            </ngb-panel> -->
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
