<app-breadcrumb [title]="'Teachers'" [items]="['Teachers']"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary float-right mb-3"> <i class="fa fa-plus"></i> New Teacher</button>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Date Join</th>
                <th scope="col">City</th>
                <th scope="col">Contact</th>
                <th scope="col">Grade</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Alexander</td>
                <td>Orton</td>
                <td>12/12/1999</td>
                <td>Karachi</td>
                <td class="d-flex align-items-center"><i class="fa fa-phone"></i> <i class="ml-3 fa fa-envelope"></i></td>
                <td>I</td>
                <td class="d-flex align-items-center"> <i class="fa fa-eye" [routerLink]="'/dashboard/teachers/profile'" ></i> <i class="ml-3 fa fa-edit"></i> <i class="ml-3 fa fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>John Deo</td>
                <td>Deo</td>
                <td>12/12/1999</td>
                <td>Karachi</td>
                <td class="d-flex align-items-center"><i class="fa fa-phone"></i> <i class="ml-3 fa fa-envelope"></i></td>
                <td>IV</td>
                <td class="d-flex align-items-center"> <i class="fa fa-eye" [routerLink]="'/dashboard/teachers/profile'" ></i> <i class="ml-3 fa fa-edit"></i> <i class="ml-3 fa fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Randy Orton</td>
                <td>the Bird</td>
                <td>12/12/1999</td>
                <td>Karachi</td>
                <td class="d-flex align-items-center"><i class="fa fa-phone"></i> <i class="ml-3 fa fa-envelope"></i></td>
                <td>VIII</td>
                <td class="d-flex align-items-center"> <i class="fa fa-eye" [routerLink]="'/dashboard/teachers/profile'" ></i> <i class="ml-3 fa fa-edit"></i> <i class="ml-3 fa fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Randy Mark</td>
                <td>Ottandy</td>
                <td>12/12/1999</td>
                <td>Karachi</td>
                <td class="d-flex align-items-center"><i class="fa fa-phone"></i> <i class="ml-3 fa fa-envelope"></i></td>
                <td>IX</td>
                <td class="d-flex align-items-center"> <i class="fa fa-eye" [routerLink]="'/dashboard/teachers/profile'" ></i> <i class="ml-3 fa fa-edit"></i> <i class="ml-3 fa fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Ram Jacob</td>
                <td>Thornton</td>
                <td>12/12/1999</td>
                <td>Karachi</td>
                <td class="d-flex align-items-center"><i class="fa fa-phone"></i> <i class="ml-3 fa fa-envelope"></i></td>
                <td>II</td>
                <td class="d-flex align-items-center"> <i class="fa fa-eye" [routerLink]="'/dashboard/teachers/profile'" ></i> <i class="ml-3 fa fa-edit"></i> <i class="ml-3 fa fa-trash"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>