<div class="media profile-media">
  <h1 class="ProfileInitial">{{user?.name?.toString().substring(0, 1)}}</h1>
  <!-- <img class="b-r-10" src="assets/images/dashboard/profile.jpg" alt=""> -->
  <div class="media-body"><span>{{user?.name}}</span>
    <p class="mb-0 font-roboto">Admin <i class="middle fa fa-angle-down"></i></p>
  </div>
</div>
<ul class="profile-dropdown onhover-show-div">
  <li>
    <button class="btn btn-primary d-flex align-items-center" (click)="logout()">
      <app-feather-icons [icon]="'log-out'"></app-feather-icons><span>Log out</span>
    </button>
  </li>
  <li>
    <button class="btn btn-primary d-flex align-items-center" (click)="permissionModal()">
      <app-feather-icons [icon]="'user'"></app-feather-icons><span>Rights & Roles</span>
    </button>
  </li>
</ul>