<app-breadcrumb [title]="'Dashboard'" [active_item]="'Dashboard'"></app-breadcrumb>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-xl-6 col-lg-6">
      <div class="card o-hidden cstmCard">
        <div class="bg-primary b-r-4 card-body minHeight">
          <div class="media static-top-widget">
            <div class="media-body">
              <h3 class="m-0">Profit And Loss</h3>
              <span class="d-flex align-items-center">
                <app-feather-icons class="margin1 feather-10" [icon]="'dollar-sign'"></app-feather-icons>
                <span class="mb-0 counter">{{profitAndLoss + expensesBar}}</span>
              </span>
              <i class="icon-bg" data-feather="dollar-sign"></i>
              <div id="basic-bar" class="mt-3">
                <apx-chart [series]="bar.series" [chart]="bar.chart" [dataLabels]="bar.dataLabels"
                  [plotOptions]="bar.plotOptions" [xaxis]="bar.xaxis" [colors]="bar.colors"></apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-6 col-lg-6">
      <div class="card o-hidden cstmCard">
        <div class="bg-primary b-r-4 card-body minHeight">
          <div class="media static-top-widget">
            <div class="media-body">
              <h3 class="m-0">Expenses</h3>
              <span class="d-flex align-items-center">
                <app-feather-icons class="margin1" [icon]="'dollar-sign'"></app-feather-icons>
                <span class="mb-0 counter">{{totalExpenses}}</span>
              </span>
              <i class="icon-bg" data-feather="dollar-sign"></i>
              <div class="mt-3">
                <google-chart [data]="pieChart3"></google-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-6 col-lg-6">
      <div class="card o-hidden cstmCard">
        <div class="bg-primary b-r-4 card-body">
          <div class="media static-top-widget flex-column">
            <div class="d-flex w-100">
              <h3>Revenue</h3>
            </div>
            <div class="media-body w-100">
              <div class="row mt-3 mb-3">
                <div class="col-sm-6">
                  <span class="m-0">Yearly</span>
                </div>
                <div class="col-sm-6">
                  <span>$</span>
                  <span class="mb-0 counter">{{yearlyDataRevenue == null ? 0 : yearlyDataRevenue}}</span>
                </div>
              </div>
              <div class="row mt-3 mb-3">
                <div class="col-sm-6">
                  <span class="m-0">Quaterly</span>
                </div>
                <div class="col-sm-6">
                  <span>$</span>
                  <span class="mb-0 counter">{{quaterlyDataRevenue == null ? 0 : quaterlyDataRevenue}}</span>
                </div>
              </div>
              <div class="row mt-3 mb-3">
                <div class="col-sm-6">
                  <span class="m-0">Monthly</span>
                </div>
                <div class="col-sm-6">
                  <span>$</span>
                  <span class="mb-0 counter">{{monthlyDataRevenue == null ? 0 : monthlyDataRevenue}}</span>
                </div>
              </div>
              <i class="icon-bg" data-feather="dollar-sign"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-6 col-lg-6">
      <div class="card o-hidden cstmCard">
        <div class="bg-primary b-r-4 card-body">
          <div class="media static-top-widget flex-column">
            <div class="d-flex w-100">
              <h3>Payments</h3>
            </div>
            <div class="media-body w-100">
              <div class="row mt-3 mb-3">
                <div class="col-sm-6">
                  <span class="m-0">Yearly</span>
                </div>
                <div class="col-sm-6">
                  <span>$</span>
                  <span class="mb-0 counter">{{yearlyDataPayments == null ? 0 : yearlyDataPayments}}</span>
                </div>
              </div>
              <div class="row mt-3 mb-3">
                <div class="col-sm-6">
                  <span class="m-0">Quaterly</span>
                </div>
                <div class="col-sm-6">
                  <span>$</span>
                  <span class="mb-0 counter">{{quaterlyDataPayments == null ? 0 : quaterlyDataPayments}}</span>
                </div>
              </div>
              <div class="row mt-3 mb-3">
                <div class="col-sm-6">
                  <span class="m-0">Monthly</span>
                </div>
                <div class="col-sm-6">
                  <span>$</span>
                  <span class="mb-0 counter">{{monthlyDataPayments == null ? 0 : monthlyDataPayments}}</span>
                </div>
              </div>
              <i class="icon-bg" data-feather="dollar-sign"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>