<app-breadcrumb
  [title]="'Dashboard'"
  [active_item]="'Dashboard'"
></app-breadcrumb>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-xl-6 col-lg-6">
      <div class="card o-hidden cstmCard">
        <div class="bg-primary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center">
              <app-feather-icons [icon]="'users'"></app-feather-icons>
            </div>
            <div class="media-body">
              <span class="m-0">Total Students</span>
              <h4 class="mb-0 counter">1000</h4>
              <i class="icon-bg" data-feather="users"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-6 col-lg-6">
      <div class="card o-hidden cstmCard">
        <div class="bg-primary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center">
              <app-feather-icons [icon]="'user'"></app-feather-icons>
            </div>
            <div class="media-body">
              <span class="m-0">New Students</span>
              <h4 class="mb-0 counter">250</h4>
              <i class="icon-bg" data-feather="user"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xl-12 box-col-12 col-md-12">
      <div class="card o-hidden">
        <div class="card-header card-no-border">
          <div class="card-header-right">
            <ul class="list-unstyled card-option">
              <li><i class="fa fa-spin fa-cog"></i></li>
            </ul>
          </div>
          <div class="media">
            <div class="media-body">
              <p><span class="f-w-500 font-roboto">School Finance</span></p>
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div id="basic-apex">
            <apx-chart
              [series]="splineArea2.series"
              [chart]="splineArea2.chart"
              [xaxis]="splineArea2.xaxis"
              [stroke]="splineArea2.stroke"
              [dataLabels]="splineArea2.dataLabels"
              [yaxis]="splineArea2.yaxis"
              [labels]="splineArea2.labels"
              [legend]="splineArea2.legend"
              [colors]="splineArea2.colors"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Teacher's List</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Date Join</th>
                  <th scope="col">Grade</th>
                  <th scope="col">Rating</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Alexander</td>
                  <td>Orton</td>
                  <td>12/12/1999</td>
                  <td>I</td>
                  <td>Paid</td>
                  <td class="d-flex align-items-center">
                    <i
                      class="fa fa-eye"
                      [routerLink]="'/dashboard/teachers/profile'"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>John Deo</td>
                  <td>Deo</td>
                  <td>12/12/1999</td>
                  <td>IV</td>
                  <td>Paid</td>
                  <td class="d-flex align-items-center">
                    <i
                      class="fa fa-eye"
                      [routerLink]="'/dashboard/teachers/profile'"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Randy Orton</td>
                  <td>the Bird</td>
                  <td>12/12/1999</td>
                  <td>VIII</td>
                  <td>Paid</td>
                  <td class="d-flex align-items-center">
                    <i
                      class="fa fa-eye"
                      [routerLink]="'/dashboard/teachers/profile'"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Randy Mark</td>
                  <td>Ottandy</td>
                  <td>12/12/1999</td>
                  <td>IX</td>
                  <td>Paid</td>
                  <td class="d-flex align-items-center">
                    <i
                      class="fa fa-eye"
                      [routerLink]="'/dashboard/teachers/profile'"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Ram Jacob</td>
                  <td>Thornton</td>
                  <td>12/12/1999</td>
                  <td>II</td>
                  <td>Paid</td>
                  <td class="d-flex align-items-center">
                    <i
                      class="fa fa-eye"
                      [routerLink]="'/dashboard/teachers/profile'"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>New Students</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Date Join</th>
                  <th scope="col">Grade</th>
                  <th scope="col">Fee Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Alexander</td>
                  <td>Orton</td>
                  <td>12/12/1999</td>
                  <td>I</td>
                  <td>Paid</td>
                  <td class="d-flex align-items-center">
                    <i
                      class="fa fa-eye"
                      [routerLink]="'/dashboard/students/profile'"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>John Deo</td>
                  <td>Deo</td>
                  <td>12/12/1999</td>
                  <td>IV</td>
                  <td>Paid</td>
                  <td class="d-flex align-items-center">
                    <i
                      class="fa fa-eye"
                      [routerLink]="'/dashboard/students/profile'"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Randy Orton</td>
                  <td>the Bird</td>
                  <td>12/12/1999</td>
                  <td>VIII</td>
                  <td>Paid</td>
                  <td class="d-flex align-items-center">
                    <i
                      class="fa fa-eye"
                      [routerLink]="'/dashboard/students/profile'"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Randy Mark</td>
                  <td>Ottandy</td>
                  <td>12/12/1999</td>
                  <td>IX</td>
                  <td>Paid</td>
                  <td class="d-flex align-items-center">
                    <i
                      class="fa fa-eye"
                      [routerLink]="'/dashboard/students/profile'"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Ram Jacob</td>
                  <td>Thornton</td>
                  <td>12/12/1999</td>
                  <td>II</td>
                  <td>Paid</td>
                  <td class="d-flex align-items-center">
                    <i
                      class="fa fa-eye"
                      [routerLink]="'/dashboard/students/profile'"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
