<app-breadcrumb
  [title]="'Financial Status'"
  [active_item]="'Financial Status'"
></app-breadcrumb>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body default-accordion">
          <ngb-accordion
            #acc="ngbAccordion"
            [closeOthers]="true"
            activeIds="static-1"
          >
            <ngb-panel title="Profit And Loss" id="static-1">
              <ng-template ngbPanelContent>
                <h1>hello</h1> 
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
