<app-breadcrumb [title]="'Financial Status'" [active_item]="'Financial Status'"></app-breadcrumb>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body default-accordion">
          <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-1">
            <ngb-panel title="Profit And Loss" id="static-1">
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-sm-12 mb-3">
                    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="expense-1">
                      <ngb-panel title="Income" id="expense-1" *ngIf="(salesHead && salesValue)">
                        <ng-template ngbPanelContent>
                          <div class="row">
                            <div class="col-sm-12 d-flex justify-content-between align-items-center">
                              <p>{{ salesHead ? salesHead : "Sales" }}</p>
                              <p>
                                {{
                                salesValue
                                ? (salesValue | currency: "USD")
                                : "N/A"
                                }}
                              </p>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel title="Expenses" id="expense-2">
                        <ng-template ngbPanelContent>
                          <div class="row">
                            <div class="col-sm-12 d-flex justify-content-between align-items-center"
                              *ngFor="let expense of expenses">
                              <p>{{ expense.expenseHead ? expense.expenseHead : "N/A" }}</p>
                              <p>
                                {{
                                expense.expenseValue
                                ? (expense.expenseValue | currency: "USD")
                                : "N/A"
                                }}
                              </p>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel title="Summary" id="expense-3">
                        <ng-template ngbPanelContent>
                          <div class="row">
                            <div class="col-sm-12 d-flex justify-content-between align-items-center">
                              <p>{{ totalIncomeHead ? totalIncomeHead : "Total Income" }}</p>
                              <p>
                                {{
                                totalIncomeValue
                                ? (totalIncomeValue | currency: "USD")
                                : "N/A"
                                }}
                              </p>
                            </div>
                            <div class="col-sm-12 d-flex justify-content-between align-items-center">
                              <p>{{ totalExpensesHead ? totalExpensesHead : "Total Expenses" }}</p>
                              <p>
                                {{
                                totalExpensesValue
                                ? (totalExpensesValue | currency: "USD")
                                : "N/A"
                                }}
                              </p>
                            </div>
                            <div class="col-sm-12 d-flex justify-content-between align-items-center">
                              <p>{{ totalNetOperHead ? totalNetOperHead : "Total Net Operating" }}</p>
                              <p>
                                {{
                                totalNetOperValue
                                ? (totalNetOperValue | currency: "USD")
                                : "N/A"
                                }}
                              </p>
                            </div>
                            <div class="col-sm-12 d-flex justify-content-between align-items-center">
                              <p>{{ totalNetIncHead ? totalNetIncHead : "Total Net Incoming" }}</p>
                              <p>
                                {{
                                totalNetIncValue
                                ? (totalNetIncValue | currency: "USD")
                                : "N/A"
                                }}
                              </p>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Balancesheet" id="static-2">
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-sm-12 mb-3">
                    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="balance-1">
                      <ngb-panel title="Bank" id="balance-1">
                        <ng-template ngbPanelContent>
                          <div class="row">
                            <div class="col-sm-12 d-flex justify-content-between align-items-center"
                              *ngFor="let bank of bank">
                              <p>{{ bank.ColData[0].value ? bank.ColData[0].value : "N/A" }}</p>
                              <p>
                                {{
                                bank.ColData[1].value
                                ? (bank.ColData[1].value | currency: "USD")
                                : "N/A"
                                }}
                              </p>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel title="Accounts Recievable" id="balance-2">
                        <ng-template ngbPanelContent>
                          <div class="row">
                            <div class="col-sm-12 d-flex justify-content-between align-items-center"
                              *ngFor="let ar of AR">
                              <p>{{ ar.ColData[0].value ? ar.ColData[0].value : "N/A" }}</p>
                              <p>
                                {{
                                ar.ColData[1].value
                                ? (ar.ColData[1].value | currency: "USD")
                                : "N/A"
                                }}
                              </p>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel title="Other Current Assets" id="balance-3">
                        <ng-template ngbPanelContent>
                          <div class="row">
                            <div class="col-sm-12 d-flex justify-content-between align-items-center"
                              *ngFor="let otherAsset of otherAsset">
                              <p>{{ otherAsset.ColData[0].value ? otherAsset.ColData[0].value : "N/A" }}</p>
                              <p>
                                {{
                                otherAsset.ColData[1].value
                                ? (otherAsset.ColData[1].value | currency: "USD")
                                : "N/A"
                                }}
                              </p>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel title="Summary" id="expense-3">
                        <ng-template ngbPanelContent>
                          <div class="row">
                            <div class="col-sm-12 d-flex justify-content-between align-items-center">
                              <p>{{ totalCurrentAssetsHead ? totalCurrentAssetsHead : "Total Current Assets" }}</p>
                              <p>
                                {{
                                totalCurrentAssetsValue
                                ? (totalCurrentAssetsValue | currency: "USD")
                                : "N/A"
                                }}
                              </p>
                            </div>
                            <div class="col-sm-12 d-flex justify-content-between align-items-center">
                              <p>{{ totalAssetsHead ? totalAssetsHead : "Total Expenses" }}</p>
                              <p>
                                {{
                                totalAssetsValue
                                ? (totalAssetsValue | currency: "USD")
                                : "N/A"
                                }}
                              </p>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Liabilitites And Equity" id="static-3">
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-sm-12 mb-3">
                    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="liable-1">
                      <ngb-panel title="Liabilitites" id="liable-1">
                        <ng-template ngbPanelContent>
                          <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="liablity-1">
                            <ngb-panel title="Account Payable" id="liablity-1">
                              <ng-template ngbPanelContent>
                                <div class="row">
                                  <div class="col-sm-12 d-flex justify-content-between align-items-center"
                                    *ngFor="let ap of AP">
                                    <p>{{ ap.ColData[0].value ? ap.ColData[0].value : "N/A" }}</p>
                                    <p>
                                      {{
                                      ap.ColData[1].value
                                      ? (ap.ColData[1].value | currency: "USD")
                                      : "N/A"
                                      }}
                                    </p>
                                  </div>
                                  <div class="col-sm-12 d-flex justify-content-between align-items-center">
                                    <p>{{ totalAPHead ? totalAPHead : "N/A" }}</p>
                                    <p>
                                      {{
                                      totalAPValue
                                      ? (totalAPValue | currency: "USD")
                                      : "N/A"
                                      }}
                                    </p>
                                  </div>
                                </div>
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel title="Credit Cards" id="liablity-2">
                              <ng-template ngbPanelContent>
                                <div class="row">
                                  <div class="col-sm-12 d-flex justify-content-between align-items-center"
                                    *ngFor="let CreditCard of CreditCards">
                                    <p>{{ CreditCard.ColData[0].value ? CreditCard.ColData[0].value : "N/A" }}</p>
                                    <p>
                                      {{
                                      CreditCard.ColData[1].value
                                      ? (CreditCard.ColData[1].value | currency: "USD")
                                      : "N/A"
                                      }}
                                    </p>
                                  </div>
                                  <div class="col-sm-12 d-flex justify-content-between align-items-center">
                                    <p>{{ totalCreditCardsHead ? totalCreditCardsHead : "N/A" }}</p>
                                    <p>
                                      {{
                                      totalCreditCardsValue
                                      ? (totalCreditCardsValue | currency: "USD")
                                      : "N/A"
                                      }}
                                    </p>
                                  </div>
                                </div>
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel title="Summary" id="liablity-3">
                              <ng-template ngbPanelContent>
                                <div class="row">
                                  <div class="col-sm-12 d-flex justify-content-between align-items-center">
                                    <p>{{ totalCurrentLiabilitiesHead ? totalCurrentLiabilitiesHead : "Total Current Liabilities" }}</p>
                                    <p>
                                      {{
                                      totalCurrentLiabilitiesValue
                                      ? (totalCurrentLiabilitiesValue | currency: "USD")
                                      : "N/A"
                                      }}
                                    </p>
                                  </div>
                                  <div class="col-sm-12 d-flex justify-content-between align-items-center">
                                    <p>{{ totalLiabilitiesHead ? totalLiabilitiesHead : "Total Liabilities" }}</p>
                                    <p>
                                      {{
                                      totalLiabilitiesValue
                                      ? (totalLiabilitiesValue | currency: "USD")
                                      : "N/A"
                                      }}
                                    </p>
                                  </div>
                                </div>
                              </ng-template>
                            </ngb-panel>
                          </ngb-accordion>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel title="Equities" id="liable-2">
                        <ng-template ngbPanelContent>
                          <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="equity1">
                            <ngb-panel title="Equity" id="equity1">
                              <ng-template ngbPanelContent>
                                <div class="row">
                                  <div class="col-sm-12 d-flex justify-content-between align-items-center"
                                    *ngFor="let equity of equities">
                                    <p>{{ equity.ColData[0].value ? equity.ColData[0].value : "N/A" }}</p>
                                    <p>
                                      {{
                                      equity.ColData[1].value
                                      ? (equity.ColData[1].value | currency: "USD")
                                      : "N/A"
                                      }}
                                    </p>
                                  </div>
                                </div>
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel title="Summary" id="equity2">
                              <ng-template ngbPanelContent>
                                <div class="row">
                                  <div class="col-sm-12 d-flex justify-content-between align-items-center">
                                    <p>{{ totalEquityHead ? totalEquityHead : "Total Equity" }}</p>
                                    <p>
                                      {{
                                      totalEquityValue
                                      ? (totalEquityValue | currency: "USD")
                                      : "N/A"
                                      }}
                                    </p>
                                  </div>
                                </div>
                              </ng-template>
                            </ngb-panel>
                          </ngb-accordion>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel title="Summary" id="liable-2">
                        <ng-template ngbPanelContent>
                          <div class="row">
                            <div class="col-sm-12 d-flex justify-content-between align-items-center">
                              <p>{{ totalLiabilitiesandEquityHead ? totalLiabilitiesandEquityHead : "Total Current Assets" }}</p>
                              <p>
                                {{
                                totalLiabilitiesandEquityValue
                                ? (totalLiabilitiesandEquityValue | currency: "USD")
                                : "N/A"
                                }}
                              </p>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</div>